@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);
@import url(https://fonts.googleapis.com/css?family=Roboto);
$blue: #06f;
$dark: #000;

@mixin vertical-align {
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*

@font-face {
  font-family: 'Circular';
  src: url('fonts/Circular.eot');
  src: url('fonts/Circular.eot?#iefix') format('embedded-opentype'),  
       url('fonts/Circular.woff2') format('woff2'), 
       url('fonts/Circular.woff') format('woff'), 
       url('fonts/Circular.ttf')  format('truetype'),
}

*/

::-moz-selection {
    color: #fff;
    background: $blue;
}

::selection {
    color: #fff; 
    background: $blue;
}

* {
  box-sizing: border-box;
}